 @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Hind:wght@300;400;500;600;700&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 * {
     margin: 0;
     padding: 0;
 }

 body {
     background-color: black;
 }

 .main {
     background-image: url(bg.jpg);
     background-position: center center;
     background-size: max(1400px, 100vw);
     background-repeat: no-repeat;
     height: 100vh;
     position: relative;
 }

 .main .box {
     background-color: rgb(0, 0, 0);
     height: 100vh;
     width: 100%;
     opacity: 80%;
     position: absolute;
     top: 0;
 }

 nav {
     max-width: 80vw;
     justify-content: space-between;
     margin: auto;
     display: flex;
     align-items: center;
     height: 85px;
 }

 nav img {
     width: 150px;
     fill: red;
     position: relative;
     z-index: 10;
 }

 nav button {
     position: relative;
     z-index: 11;

 }

 .hero {
     height: 80%;
     padding: 15px;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     color: white;
     position: relative;
     z-index: 11;
     gap: 17px;
     font-family: "Martel Sans", sans-serif;
 }

 .hero> :nth-child(1) {
     font-size: 3rem;
     font-weight: bolder;
     text-align: center;
 }

 .hero> :nth-child(2) {
     font-size: 1.2rem;
     font-weight: 800;
     text-align: center;

 }

 .hero> :nth-child(3) {
     font-size: 1rem;
     font-weight: 600;
     text-align: center;

 }

 .sepration {
     height: 5px;
     background-color: grey;

 }

 .trending {
     color: white;
     background-color: black;
     font-size: 1.5rem;
     font-family: 'poppins';
     font-weight: 500;
     padding-top: 2%;
     padding-left: 10.5%;

 }

 .btn {
     padding: 3px 8px;
     margin: 3px;
     font-weight: bold;
     background-color: rgba(255, 255, 255, 0);
     border-radius: 20px white;
     color: white;
 }

 .btn-eng {
     padding: 3px 25px;
     margin: 3px;
     border: 1px solid rgb(101, 100, 100);
     border-radius: 2px;
     background-color: rgba(255, 255, 255, 0);
     color: rgb(255, 255, 255);
     font-size: 15px;
     font-weight: 200;
 }

 .btn-red-si {
     background-color: red;
     color: white;
     font-size: 15px;
     cursor: pointer;
     border: 2px solid rgba(255, 255, 255, 0);
     border-radius: 5px;

 }

 .btn-red-si:hover {
     background-color: rgb(117, 9, 9);
     color: white;
     cursor: pointer;

 }

 .btn-red {
     background-color: red;
     color: white;
     padding: 5px 24px;
     font-size: 30px;
     border-radius: 4px;
 }

 .hero-btn {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 8px;
 }

 .main input {
     border-radius: 2px;
     border: 1px solid rgb(255, 255, 255);
     padding: 11px 80px 11px 16px;
     font-size: 20px;
     color: white;
     background-color: rgba(19, 13, 13, 0.747);
 }

 .img-container {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 23px;
     padding: 25px;

 }

 .img-img {
     border-radius: 2px;
     border: 2px solid rgba(95, 89, 89, 0.836);
     
 }


  .reasons {
     color: white;
     background-color: black;
     font-size: 1.5rem;
     font-weight: 500;
     font-family: 'poppins';
     padding-top: 2%;
     padding-left: 10.5%;
 }

 .main-card{
    background-color: rgb(66, 58, 58);
    height: 35vh;
    width: 19.5%;
    border: 2px solid rgb(49, 45, 45);
    border-radius: 15px;
    
 }

 .cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 23px;
 }
 .title{
    color: white;
    font-family: 'poppins';
    font-size:21px;
    padding: 15px;
 }
  .paragraph{
    color: rgb(222, 215, 215);
    font-family: 'poppins';
    font-size:15px;
    font-weight: 500;
    padding: 0px 15px;
 }

   .ques {
     color: white;
     background-color: black;
     font-size: 1.5rem;
     font-weight: 500;
     font-family: 'poppins';
     padding-top: 2%;
     padding-left: 10.5%;
 }

 .ques-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 15px;
 }

  .ques-cards{
    background-color: rgba(101, 104, 104, 0.522);
    height: 5vh;
    color: white;
    width: 77.5%;
    font-family: 'poppins';
    font-size: 22px;
    padding: 15px 22px;
    gap: 15px;
 }


  .hero-btn {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 8px;
 }
  .main-input-low {
     border-radius: 2px;
     border: 1px solid rgb(255, 255, 255);
     padding: 13px 80px 11px 16px;
     font-size: 20px;
     color: white;
     background-color: rgba(19, 13, 13, 0.747);
 }

  .btns {
     margin: 2px;
     font-weight: bold;
     background-color: rgba(255, 255, 255, 0);
     border-radius: 20px white;
     color: white;
 }
 .btn-red-btm-low {
     background-color: rgb(243, 16, 16);
     color: white;
     padding: 6px 24px;
     border: 1px solid transparent;
     font-size: 30px;
     border-radius: 4px;
 }

 .lower{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }

 .last-line{ 
    display:flex ;  
    flex-direction: column;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'poppins';
    padding-top: 5vh;
    padding-bottom: 1.5vh;
 }

 .footer{

    height: 20vh;
 }

 .helpline{
     color: rgb(133, 127, 127);
     background-color: black;
     font-size: 1rem;
     font-weight: 500;
     font-family: 'poppins';
     padding-top: 3%;
     padding-left: 10.5%;
 }

 .uls{
    display: flex;
    height: 20vh;
    width: 79%;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 9%;
    font-family: 'poppins';
    font-weight: 150;
    font-size: 15px;
    list-style: none;
    padding: 10px;

 }

 .f-line{
    display: flex;
    flex-direction: column;
    gap: 7px;
    list-style: none;
    padding: 10px;
 }
  .s-line{
    display: flex;
    flex-direction: column;
    gap: 7px;
    list-style: none;
    padding: 10px;
 }
  .t-line{
    display: flex;
    flex-direction: column;
    gap: 7px;
    list-style: none;
    padding: 10px;
 }
  .f4-line{
    display: flex;
    flex-direction: column;
    gap: 7px;
    list-style: none;
    padding: 10px;
 }
 .low-btn{
    padding-left: 10%;
    padding-top: 20px;
 }
 .btn-eng-low {
     padding: 3px 25px;
     margin: 3px;
     border: 1px solid rgb(101, 100, 100);
     border-radius: 2px;
     background-color: rgba(255, 255, 255, 0);
     color: rgb(255, 255, 255);
     font-size: 15px;
     font-weight: 200;
 }

  .netflix{
     color: rgb(133, 127, 127);
     background-color: black;
     height: 20vh;
     font-size: 1rem;
     font-weight: 500;
     font-family: 'poppins';
     padding-top: 3%;
     padding-left: 10.5%;
 }